* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: $selection-bg;
  color: $selection-color;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $text-color;
  line-height: $line-height-base;
  user-select: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

#app {
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  word-wrap: break-word;
}

button {
  outline: none;
  appearance: none;
  border: none;
  border-radius: 0;
}
